<header class="header">
    <nav class="nav">
        <div class="logo">
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ site.Title }} (Alt + H)">
                {{- if site.Params.label.icon }}
                <img src="{{ site.Params.label.icon | absURL }}" alt="" aria-label="logo" height="32">
                {{- end }}
                <span class="site-title">{{ site.Title }}</span>
            </a>
            
            {{- if not site.Params.disableThemeToggle }}
            <button id="theme-toggle" accesskey="t" title="Toggle theme (Alt + T)" aria-label="Toggle theme">
                <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
                <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="5"></circle>
                    <line x1="12" y1="1" x2="12" y2="3"></line>
                    <line x1="12" y1="21" x2="12" y2="23"></line>
                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                    <line x1="1" y1="12" x2="3" y2="12"></line>
                    <line x1="21" y1="12" x2="23" y2="12"></line>
                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                </svg>
            </button>
            {{- end }}
        </div>
        
        <!-- Mobile Menu Toggle Button -->
        <button id="menu-toggle" class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
            <span class="hamburger"></span>
        </button>
        
        <div class="nav-right">
            <ul id="menu" class="menu-hidden">
                {{- range site.Menus.main }}
                <li>
                    <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                {{- end }}
                <li>
                    <a href="{{ "photos/" | absLangURL }}" title="照片墙">
                        <span>照片墙</span>
                    </a>
                </li>
                <li>
                    <a href="{{ "tags/" | absLangURL }}" title="标签">
                        <span>标签</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
